.container {
  width: 400px;
  border: 1px solid blue;
}

.one {
  width: 350px;
  /*border: 1px solid red;*/
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 11px dashed #000000;
}
